<a href="https://colab.research.google.com/github/farzanehnia/Finance/blob/main/Finance_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install --upgrade pandas-datareader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (0.10.0)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (1.3.5)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (4.2.6)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2022.6.15)

In [2]:
import pandas_datareader
pandas_datareader.__version__  # Should show 0.10.0

'0.10.0'

In [3]:
from pandas_datareader import data, wb
import pandas_datareader.data as web
import pandas as pd
import numpy as np
import datetime as dt
%matplotlib inline

Using datareader we get the stock information of the following banks:
Bank of America,
CitiGroup,
Goldman Sachs,
JPMorgan Chase,
Morgan Stanley,
Wells Fargo

### Figure stock data from Jan 1st 2006 to Jan 1st 2016 to a seperate dataframe.

In [4]:
start = dt.datetime(2006, 1, 1)
end = dt.datetime(2016, 1, 1)

In [11]:
BAC = data.DataReader('BAC', 'yahoo', start, end)
#df = web.DataReader('GE', 'yahoo', start='2019-09-10', end='2019-10-09')

C = data.DataReader('C', 'yahoo', start, end)
GS = data.DataReader('GS', 'yahoo', start, end)
JPM = data.DataReader('JPM', 'yahoo', start, end)
MS = data.DataReader('MS', 'yahoo', start, end)
WFC = data.DataReader('WFC', 'yahoo', start, end)

In [13]:
MS.head()

                 High        Low       Open      Close     Volume  Adj Close
Date
2006-01-03  58.490002  56.740002  57.169998  58.310001  5377000.0  35.558956
2006-01-04  59.279999  58.349998  58.700001  58.349998  7977800.0  35.583351
2006-01-05  58.590000  58.020000  58.549999  58.509998  5778000.0  35.680923
2006-01-06  58.849998  58.049999  58.770000  58.570000  6889800.0  35.717522
2006-01-09  59.290001  58.619999  58.630001  59.189999  4144500.0  36.095604

### List of tickers in alphabetical order

In [14]:
tickers = ['BAC', 'C', 'GS', 'JPM', 'MS', 'WFC']

Use pd.concat ti make single df 
key arguments = tickers list

In [15]:
bank_stocks = pd.concat([BAC,C,GS,JPM,MS,WFC], axis=1, keys=tickers) #axis=1 columns

In [16]:
bank_stocks.head()

                  BAC                                                          \
                 High        Low       Open      Close      Volume  Adj Close
Date
2006-01-03  47.180000  46.150002  46.919998  47.080002  16296700.0  33.584072
2006-01-04  47.240002  46.450001  47.000000  46.580002  17757900.0  33.227402
2006-01-05  46.830002  46.320000  46.580002  46.639999  14970700.0  33.270195
2006-01-06  46.910000  46.349998  46.799999  46.570000  12599800.0  33.220261
2006-01-09  46.970001  46.360001  46.720001  46.599998  15619400.0  33.241661

                     C                                      ...         MS  \
                  High         Low        Open       Close  ...       Open
Date                                                        ...
2006-01-03  493.799988  481.100006  490.000000  492.899994  ...  57.169998
2006-01-04  491.000000  483.500000  488.600006  483.799988  ...  58.700001
2006-01-05  487.799988  484.000000  484.399994  486.200012  ...  58.549999
2006-01-06  489.000000  482.000000  488.799988  486.200012  ...  58.770000
2006-01-09  487.399994  483.000000  486.000000  483.899994  ...  58.630001

                                                   WFC                        \
                Close     Volume  Adj Close       High        Low       Open
Date
2006-01-03  58.310001  5377000.0  35.558956  31.975000  31.195000  31.600000
2006-01-04  58.349998  7977800.0  35.583351  31.820000  31.365000  31.799999
2006-01-05  58.509998  5778000.0  35.680923  31.555000  31.309999  31.500000
2006-01-06  58.570000  6889800.0  35.717522  31.775000  31.385000  31.580000
2006-01-09  59.189999  4144500.0  36.095604  31.825001  31.555000  31.674999


                Close      Volume  Adj Close
Date
2006-01-03  31.900000  11016400.0  20.242819
2006-01-04  31.530001  10870000.0  20.008028
2006-01-05  31.495001  10158000.0  19.985815
2006-01-06  31.680000   8403800.0  20.103222
2006-01-09  31.674999   5619600.0  20.100039

[5 rows x 36 columns]

In [17]:
bank_stocks.columns.names = ['Bank Ticker','Stock Info']

In [18]:
bank_stocks.head()

Bank Ticker        BAC                                               \
Stock Info        High        Low       Open      Close      Volume
Date
2006-01-03   47.180000  46.150002  46.919998  47.080002  16296700.0
2006-01-04   47.240002  46.450001  47.000000  46.580002  17757900.0
2006-01-05   46.830002  46.320000  46.580002  46.639999  14970700.0
2006-01-06   46.910000  46.349998  46.799999  46.570000  12599800.0
2006-01-09   46.970001  46.360001  46.720001  46.599998  15619400.0

Bank Ticker                      C                                      ...  \
Stock Info   Adj Close        High         Low        Open       Close  ...
Date                                                                    ...
2006-01-03   33.584072  493.799988  481.100006  490.000000  492.899994  ...
2006-01-04   33.227402  491.000000  483.500000  488.600006  483.799988  ...
2006-01-05   33.270195  487.799988  484.000000  484.399994  486.200012  ...
2006-01-06   33.220261  489.000000  482.000000  488.799988  486.200012  ...
2006-01-09   33.241661  487.399994  483.000000  486.000000  483.899994  ...

Bank Ticker         MS                                         WFC             \
Stock Info        Open      Close     Volume  Adj Close       High        Low
Date
2006-01-03   57.169998  58.310001  5377000.0  35.558956  31.975000  31.195000
2006-01-04   58.700001  58.349998  7977800.0  35.583351  31.820000  31.365000
2006-01-05   58.549999  58.509998  5778000.0  35.680923  31.555000  31.309999
2006-01-06   58.770000  58.570000  6889800.0  35.717522  31.775000  31.385000
2006-01-09   58.630001  59.189999  4144500.0  36.095604  31.825001  31.555000

Bank Ticker
Stock Info        Open      Close      Volume  Adj Close
Date
2006-01-03   31.600000  31.900000  11016400.0  20.242819
2006-01-04   31.799999  31.530001  10870000.0  20.008028
2006-01-05   31.500000  31.495001  10158000.0  19.985815
2006-01-06   31.580000  31.680000   8403800.0  20.103222
2006-01-09   31.674999  31.674999   5619600.0  20.100039

[5 rows x 36 columns]